# Dependencies
node_modules/

# Environment variables (JANGAN pernah commit file ini!)
.env

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# OS generated
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
